.section-header {
    position: relative;
    height: 50vw;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 9vw), 0 100%);
}

.header__hero {
    height: 100%;
}

.header__hero-img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    object-position: 50% 25%;
}

.header__hero-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right bottom,
            rgba(125, 213, 111, 0.85),
            rgba(40, 180, 133, 0.85));
    opacity: 0.85;
    /* fallback if gradient doesn't cover enough */
    inset: 0;
    z-index: 9;
}

.heading-box {
    position: absolute;
    bottom: 13vw;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    width: 70%;
    z-index: 10;
}

.heading-box__text {
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1;
    display: block;
    margin-bottom: 2rem;
    text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.heading-box__group {
    color: #f7f7f7;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.heading-box__detail {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    text-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.15);
}

.heading-box__icon {
    margin-right: 0.8rem;
    height: 2rem;
    width: 2rem;
    fill: currentColor;
    filter: drop-shadow(0 0.75rem 0.5rem rgba(0, 0, 0, 0.25));
}

.section-description {
    background-color: #fcfcfc;
    margin-top: -22vw;
    padding: 0 8vw;
    padding-top: 2vw;
    position: relative;
    z-index: 20;
    padding-bottom: 2vw;
    flex: 0 0 50%;
    display: flex;
    gap: 2rem;
    transform: skewY(-7deg);
}

.section-description>*>* {
    transform: skewY(7deg);
}

.overview-box {
    background-color: #f7f7f7;
    padding: 3rem;
    flex: 0 0 50%;
}

.description-box {
    margin-right: 5rem;
    padding: 3rem;
    padding-left: 0;
    flex: 0 0 50%;
}

.description-box .description__text {
    font-size: 1.4rem;
    color: #777;
}

.overview-box__group:not(:last-child) {
    margin-bottom: 4rem;
}

.heading-secondary {
    font-size: 2.25rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, #7dd56f, #28b485);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: 0.1rem;
    line-height: 1.3;
    display: inline-block;
    margin: 0;
    margin-bottom: 2.5rem;
}

.overview-box__detail {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    font-weight: 400;
}

.overview-box__detail svg {
    margin-right: 1.25rem;
    height: 2.25rem;
    width: 2.25rem;
    fill: #55c57a;
}

.overview-box__label {
    font-weight: 700;
    margin-right: 2.25rem;
    text-transform: uppercase;
    font-size: 1.4rem;
    color: #777;
}

.overview-box__text {
    text-transform: capitalize;
    font-size: 1.4rem;
    color: #777;
}

@media only screen and (max-width: 37.5em) {
    .section-description {
        flex-direction: column;
        padding: 0;
        padding-top: 20vw;
    }

    .overview-box,
    .description-box {
        padding: 3rem;
        margin: 0;
        width: 100%;
    }

    .heading-box__text {
        font-size: 3rem;
    }

    .heading-box__text {
        font-size: 3rem;
    }
}

.overview-box__img {
    border-radius: 50%;
    height: 3.5rem;
    width: 3.5rem;
    margin-right: 1.25rem;
}

.overview-box__guides {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.summary-text {
    font-size: 1.6rem;
    font-style: italic;
    color: #55c57a;
    margin-bottom: 2rem;
    font-weight: 500;
}

.section-pictures {
    display: flex;
    clip-path: polygon(0 9vw, 100% 0, 100% calc(100% - 9vw), 0 100%);
    margin-top: -9vw;
    position: relative;
    z-index: 1000;
}

.picture-box {
    flex: 1;
    overflow: hidden;
    height: 32rem;
}

.picture-box__img {
    display: block;
    width: 100%;
    height: 110%;
    object-fit: cover;
}

.picture-box__img--1 {
    padding-top: 15%;
}

.picture-box__img--2 {
    padding-bottom: 15%;
}

.picture-box__img--3 {
    padding-bottom: 27%;
}