.login-form-container {
    margin: 0 auto;
    max-width: 55rem;
    background-color: #fff;
    box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
    padding: 5rem 7rem;
    border-radius: 5px;
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.heading-secondary {
    font-size: 2.25rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 3.5rem;
    background-image: linear-gradient(to right, #7dd56f, #28b485);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: 0.1rem;
    line-height: 1.3;
}

.form__group:not(:last-child) {
    margin-bottom: 2.5rem;
}

.form__label {
    display: block;
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 0.75rem;
    color: #444;
}

.form__input {
    display: block;
    font-family: inherit;
    font-size: 1.5rem;
    color: inherit;
    padding: 1.25rem 1.75rem;
    border: none;
    width: 100%;
    background-color: #f2f2f2;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    transition: all 0.3s;
    border-radius: 4px;
}

.form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #55c57a;
}

.form__input:focus:invalid {
    border-bottom: 3px solid #ff7730;
}

.form__input::-webkit-input-placeholder {
    color: #999;
}



.form__file-upload {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.form__file-label {
    font-size: 1.6rem;
    color: #55c57a;
    display: inline-block;
    border-bottom: 1px solid #55c57a;
    cursor: pointer;
    transition: all .2s;
}

.form__file-label:hover {
    background-color: #55c57a;
    color: #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .15);
    transform: translateY(-2px);
}

.forgot-password {
    display: block;
    margin-top: 1rem;
    font-size: 1.4rem;
    color: #55c57a;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}


.btn.btn--green {
    background-color: #55c57a;
    color: #ffffff;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    font-size: 1.6rem;
}

.btn.btn--green:submit {
    background-color: #55c57a;
    color: #ffffff;

}

.btn.btn--green:hover {
    background-color: #40916c;
}