*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    /* 1rem = 10px */
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    line-height: 1.7;
    color: #777;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

/* Global Button Styles */
.btn {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    font-size: 1.6rem;
    border: none;
    cursor: pointer;
    font-family: inherit;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn:focus {
    outline: none;
}

.btn--green {
    background-color: #55c57a;
    color: #fff !important;
}

.btn--green:hover {
    background-color: #40916c;
}

.btn--white {
    background-color: #fff;
    color: #777;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn--white:hover {
    background-color: #f7f7f7;
    color: #777;
}

.alert {
    padding: 1rem 2rem;
    border-radius: 5px;
    color: #fff;
    font-size: 1.6rem;
    margin-bottom: 2rem;
    text-align: center;
}

.alert--success {
    background-color: #55c57a;
}

.alert--error {
    background-color: #eb4d4b;
}