.footer {
    background-color: #333;
    padding: 10rem 3rem;
    font-size: 1.4rem;
    color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__logo-box {
    text-align: center;
    margin-bottom: 4rem;
}

.footer__logo {
    /* width: 15rem; */
    height: auto;
    font-size: 4rem;
    text-transform: uppercase;
    display: inline-block;
    background-image: linear-gradient(to right, #7dd56f, #28b485);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.footer__link:link,
.footer__link:visited {
    color: #f7f7f7;
    background-color: #333;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s;
}

.footer__link:hover,
.footer__link:active {
    color: #55c57a;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .4);
    transform: rotate(5deg) scale(1.3);
}

.footer__copyright {
    border-top: 1px solid #777;
    padding-top: 2rem;
    width: 100%;
    max-width: 80rem;
    text-align: center;
}