.not-found-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    text-align: center;
    background-color: #f7f7f7;
    padding: 2rem;
}

.not-found-title {
    font-size: 10rem;
    font-weight: 700;
    color: #55c57a;
    background-image: linear-gradient(to right, #7dd56f, #28b485);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    line-height: 1;
    margin-bottom: 2rem;
}

.not-found-subtitle {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    color: #444;
}

.not-found-text {
    font-size: 1.6rem;
    color: #777;
    margin-bottom: 4rem;
    max-width: 50rem;
}